/*!*
 *  https://github.com/xjh22222228/vue-cnode
 */
@charset "utf-8";
@mixin keyframes($name){
    @keyframes #{$name} {
        @content;
    }
    @-webkit-keyframes #{$name} {
        @content;
    }
}


@mixin prefix($name,$value){
    #{$name}:$value;
    -webkit-#{$name}:$value;
}


@mixin display($value) {
    display: #{$value};
    display:-webkit-#{$value};
}


// 居中 $x = 水平， $y = 垂直
// 居中对齐，不填任何参数  @include center;
@mixin center($x: center, $y: center, $xx: center, $yy: center) {
    @include display(flex); 
    @include display(box);
    justify-content: $x;             /* flex-start */
    align-items: $y;
    @include prefix(box-pack, $xx);  /*    start   */
    @include prefix(box-align, $yy);
}


@mixin user-select() {
    @include prefix(user-select, none);
}



// 宽度
$width: 1150px;
// 侧边栏宽度
$sidebarWidth: 290px;
// 盒子顶部颜色
$boxTopColor: #f6f6f6;


























