@import "variable.scss";
@media screen and(max-width: $width) {
    .index-section {
        width: 100% !important;

        .topics-container {
            margin-left: 10px !important;
            width: calc(100% - #{$sidebarWidth + 40}) !important;
        }
    }

    .sidebar,
    .release-sidebar {
        margin-right: 10px !important;
    }

    .header .header-box,
    .footer .footer-box {
        width: 100% !important;
        padding: 0 10px !important;
    }
}


@media screen and(max-width: 992px) {

    .index-section {

        .topics-container {
            width: calc(100% - 20px) !important;
        }
    }

    .sidebar,
    .release-sidebar {
        display: none !important;
    }

    .reply .reply-content {
        padding-left: 0 !important;
    }
}