/*!*
 *  https://github.com/xjh22222228/vue-cnode
 */
@charset "utf-8";
@import "variable.scss";
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin: 0;
    padding: 0;
    color: #333;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    font-family: -apple-system, "PingFang SC", "Hiragino Sans GB", Arial, "Microsoft YaHei", "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #e1e1e1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup, 
menu,
nav,
section {
    display: block;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ol,
ul,
li {
    list-style: none;
}

a,
a:link {
    text-decoration: none;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:after,
q:before {
    content: '';
}

legend {
    color: #000;
}

fieldset,
img,
iframe {
    border: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"],
button {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #e1e1e1;
}

textarea {
    resize: none;
    outline: none;
    -webkit-appearance: none;
}

button,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    outline:none;
}

i,
em {
    font-style: normal;
}
/* 禁止选中文本 */
.user-select-none {
    @include user-select;
}
/* 不换行 */
.white-space-nowrap {
    white-space: nowrap;
}
/* 居中对齐 */
.text-align-center {
    text-align: center;
}
/* 向左对齐 */
.text-align-left {
    text-align: left;
}
/* 向右对齐 */
.text-align-right {
    text-align: right;
}
/* 没有边框 */
.border-none {
    border: none;
}
/* 阻止事件 */
.pointer-events-none {
    pointer-events: none;
}
.overflow-hidden {
    overflow: hidden;
}





// 进度条动画等待
@include keyframes(progress-await) {
    0% {width: 1%;}
    3% {width: 10%;}
    20% {width: 10%;}
    22% {width: 13%;}
    30% {width: 13%;}
    32% {width: 45%;}
    68% {width: 60%;}
    79% {width: 60%;}
    81% {width: 80%;}
    100% {width: 80%;}
}

// 进度条动画快进
@include keyframes(progress-forward) {
    0% {width: 1%;opacity: 1}
    50% {opacity: 1;width: 103%;}
    100% {opacity: .3;width: 103%;}
}


.progress {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #80bd01;

    &.active {
        @include prefix(animation, progress-await 10s ease forwards);

        .rotate-loading {
            display: block;
        }
	}
	
	&.end {
		@include prefix(animation, initial);

		.progress-forward {
			@include prefix(animation, progress-forward 600ms ease);
		}
	}

    .rotate-loading {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        display: none;
        border: 2px solid #20a0ff;
        border-radius: 50%;
        border-left-color: transparent;
        border-top-color: transparent;
        animation: rotate-loading .39s linear infinite;
    }

    .progress-forward {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 3px;
        background: #80bd01;
    }
}





// sticky footer
.router-view {
    @include display(flex);
    flex-direction: column;

    & > section {
        min-height: 100vh;
        @include prefix(flex, 1);
    }
}

.go-top {
    z-index: 666;
    position: fixed;
    bottom: 30px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;

    &:hover {
        background: #f6f6f6;
    }

    p {
        color: #666;
    }
}






.index-section {
    width: $width;
    margin: 20px auto;

    .topics-container {
        float: left;
        width: calc(100% - #{$sidebarWidth + 20});
    }
}





.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
  }
  
  .hljs-quote {
    color: #998;
    font-style: italic;
  }
  
  .hljs-comment {
    color: #800;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  
  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag .hljs-attr {
    color: #008080;
  }
  
  .hljs-string,
  .hljs-doctag {
    color: #d14;
  }
  
  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  
  .hljs-subst {
    font-weight: normal;
  }
  
  .hljs-type,
  .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  
  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  
  .hljs-regexp,
  .hljs-link {
    color: #009926;
  }
  
  .hljs-symbol,
  .hljs-bullet {
    color: #990073;
  }
  
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0086b3;
  }
  
  .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  




